<h1><%= @genre.name %> Books</h1>
<p>Find me in app/views/genre/show.html.erb</p>

<% @genre.books.each do |book| %>
    <%= link_to book.title, book_path(book) %> | <%= book.author %> | <%= book.pages %><br>
<% end %>