<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "My Books", users_path(current_user) %>


<% if current_user %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
<% end %>